<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hall</title>
</head>
<body>
<p>Зал кинотеатра</p>
<p>Ряд кресло статус</p>

<form th:method="POST" th:action="@{/film{id}/cinema{id2}/hall{id3}(id=${idFilm}, id2 = ${idCinema}, id3 = ${idHall})}">
    <div th:each="seat : ${seats}">
        <input type="checkbox" name = "chair" th:value = "${seat.getId}">
        <span th:text="${seat.getRowNum}">row</span>
        <span th:text="${seat.getChairNum}">chair</span>
        <span th:text="${seat.getStatus}? свободно : занято">status</span>
    </div>
    <input type="submit" value="Забронировать">
</form>

</body>
</html>